{:paths ["src"]
 :deps {ubergraph/ubergraph {:mvn/version "0.8.2"}
        instaparse/instaparse {:mvn/version "1.4.10"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        org.clojure/math.numeric-tower {:mvn/version "0.0.4"}}
 :aliases
 {:dev {:extra-deps {criterium/criterium {:mvn/version "0.4.6"}
                     com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.4.1"}}
        :jvm-opts ["-Djdk.attach.allowAttachSelf"
                   "-XX:+UnlockDiagnosticVMOptions"
                   "-XX:+DebugNonSafepoints"]}
  :calva
  {:extra-deps {vlaaad/reveal {:mvn/version "1.2.185"}}
   :jvm-opts   ["-Dvlaaad.reveal.prefs={:font-size,48}"]
   :main-opts ["-m" "nrepl.cmdline"
               "--middleware"
               "[vlaaad.reveal.nrepl/middleware,cider.nrepl/cider-middleware]"]}}}